{% extends "base.html" %} 
{% block body %}
    <div class="wrapper min-vh-100">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <h1 class="navbar-brand navbar-brand-autodark">
                    <a href="/admin">
                        <img
                            src="{{ url_for('static', path='/img/utn.png') }}"
                            width="110"
                            height="32"
                            alt="Tabler"
                            class="navbar-brand-image"
                        />
                    </a>
                </h1>
               
                <ul class="navbar-nav pt-lg-4">
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/user/list">
                            <span class="nav-link-title">
                            Users
                            </span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/product/list">
                            <span class="nav-link-title">
                            Products
                            </span>
                        </a>
                    </li>
                </ul>
   
            </div>
        </aside>
        <div class="page-wrapper min-vh-100">
            <header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none">
                <div class="container-fluid">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-nav flex-row order-md-last">
                        {% if request.app.login_provider %}
                            {% include "providers/login/avatar.html" %}
                        {% endif %}
                    </div>
                    <div></div>
                </div>
            </header>
            <div class="container-fluid">
                <div class="page-header d-print-none">
                    {% block page_header %}
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="page-pretitle">{{ page_pre_title or '' }}</div>
                                <h2 class="page-title">{{ page_title or '' }}</h2>
                            </div>
                        </div>
                        {% block page_title_actions %} {% endblock %} {% endblock %}
                </div>
            </div>
            <div class="page-body flex-grow-1">
                <div class="container-fluid">
                    <div class="row row-deck row-cards">
                        {% block page_body %} {% endblock %}
                    </div>
                </div>
            </div>
            {% block footer %}
                {% include "components/footer.html" %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
