{% extends "base.html" %} 
{% block body %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Create Product</h3>
        </div>
        <style>
            .dark-border{
                border-color: #000000
            }
        </style>
        <div class="card-body border-bottom py-3">
            <form method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control dark-border" id="name" name="name" required>
                </div>

                <div class="mb-3">
                    <label for="last name" class="form-label">Last Name</label>
                    <input type="text" class="form-control dark-border" id="last_name" name="last_name" required>                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Username</label>
                    <input type="text" class="form-control dark-border" id="name" name="name" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control dark-border" id="password" name="password" rows="3" required></input>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control dark-border" id="email" name="email" required>
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control dark-border" id="phone" name="phone" required>
                </div>



                <div class="form-footer">
                    <button type="submit" name="save" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}