{% extends "layout.html" %}
{% block page_body %}
    <div class="col-12">
        <div class="card">
            <div class="card-body border-bottom py-3 d-flex">

                <div id="toolbar-actions" class="ms-auto btn-list">  
                    <a class="btn"
                        href="/admin/user/create">
                        Create
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Phone</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Admin</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ "Yes" if user.is_admin else "No" }}</td>
                        <td>{{ "Yes" if user.is_active else "No" }}</td>
                        <td>
                            <a href="/admin/users/edit/{{ user.id }}" class="btn btn-info">Edit</a>
                            <a href="/admin/users/delete/{{ user.id }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}